reveal.js/.idea/
reveal.js/*.iml
reveal.js/*.iws
reveal.js/*.eml
reveal.js/out/
reveal.js/.DS_Store
reveal.js/.svn
reveal.js/log/*.log
reveal.js/tmp/**
reveal.js/node_modules/
reveal.js/.sass-cache
reveal.js/dist/*.map