reveal.js.4.0.2/.idea/
reveal.js.4.0.2/*.iml
reveal.js.4.0.2/*.iws
reveal.js.4.0.2/*.eml
reveal.js.4.0.2/out/
reveal.js.4.0.2/.DS_Store
reveal.js.4.0.2/.svn
reveal.js.4.0.2/log/*.log
reveal.js.4.0.2/tmp/**
reveal.js.4.0.2/node_modules/
reveal.js.4.0.2/.sass-cache
reveal.js.4.0.2/dist/*.map